:root {
    --color-DarkGray: hsl(0, 0%, 63%);
    --color-VeryDarkGray: hsl(0, 0%, 27%);
    --color-Black: hsl(0, 0%, 0%);
    --color-White: hsl(0, 0%, 100%);
    --color-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  *, *::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  

  body {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    background-color:var(--color-White);
  }
  
  nav {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 108px;
    justify-content: space-between;
    width: 50%;
}

span{
  display:flex ;
}

a{
  margin-right: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-Black);
  letter-spacing: 10px;
    word-spacing: 5px;
}


.content{
  position: relative;
  height: 100vh;
}

  .slider {
    position: absolute;
    right: 0;
    left: 0;
    height: 72%;
    /* z-index: -1; */
    overflow: hidden;
}

.slider-container {
    display: flex;
    /* justify-content: flex-end; */
    width: 100%;
    margin: 0 auto;
    /* height: 100%; */
    /* height: 46vh; */
    /* min-height: 280px; */
    max-width: 80rem;
    position: relative;
    /* overflow: hidden; */
}




.slide {
   position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
} 

.product-img {
    width: 100%;
}

.icon{
  width: 11px;
}

@media (min-width:375px) {
  .np{
    position: absolute;
   width: 100%;
    display: grid;
    place-items: end;
    
  }
  
  .next-previous {
    position: relative;
    z-index: 1;
    display: flex;
    background-color: black;
    width: 105px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    transform: translateY(310px);
    bottom: 0;
  }
  
  .text, .img-text{
    grid-gap: 20px;
    margin: 0 2rem;
    display: grid;
    grid-gap: 25px;
  }

  .text-content{
    display: grid;
    grid-gap: 50px;
    transform: translateY(415px);
  }

  .heading-one{
    font-size: 2.22rem;
    font-weight: 700;
  }

  .paragraph-one, .paragraph-two {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--color-DarkGray);
    word-spacing: 1px;
    letter-spacing: 0.2px;
}

}

@media (min-width:391px) {
  .next-previous {
  transform: translateY(325px);
  }
  .text-content{
    transform: translateY(430px);
  }
}

@media (width:425px) {
  .next-previous {
    transform: translateY(358px);
  }

  .text-content{
    transform: translateY(465px);
  }



  
}

.shop-now{
  margin-top: 1rem;
}

.img-container{
  display: grid;
  grid-gap: 40px;
}

.heading-paragraph{

    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    word-spacing: 6.5px;
color: var(--color-Black);
}
